.main {
    background: blue;
    height: 500px;
    width: 500px;
    position: absolute;
  }
  
  .card1 {
    position:absolute;
    z-index: 1;
    top: 50px;
    background: pink;
    width: 100px;
    height: 100px;
  }
  
  .card2 {
    background: cyan;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;
    top: 80px;
    
 
  }