.main{
    margin: 20px;
    height: 200px;
    width: 200px;
    background: yellowgreen;
    display: flex;
    flex-direction:row;
}
.card1{
    height: 100px;
    width: 100px;
    background: blueviolet;
    
}
.card2{
    height: 100px;
    width: 100px;
    background: orangered;
}
.main1{
    padding: 20px;
    height: 200px;
    width: 200px;
    background: yellowgreen;
    display: flex;
    flex-direction:row;
}
.card1{
    height: 100px;
    width: 100px;
    background: blueviolet;
    
}
.card2{
    height: 100px;
    width: 100px;
    background: orangered;
}